*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.ld{
    background-image: url(./images/ajax-loader.gif);
    background-repeat: no-repeat;
    background-color: white;
    background-size: auto;
    background-position: center;
    position: fixed;
    width:100%;
    height: 100vh;
    z-index: 54;
}
body{
    background-color: white;
}
.logo{
    width: 70px;
    height: 50px;
}
.nav-link:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.10); 
    color: #ffc107;; 
}
.nav-link:active{
    box-shadow: 0px 0px 0px rgba(0,0,0,0.10); 
}
.carousel{
    z-index: 5;
}
.section-padding{
    padding: 60px;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 50px;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    color: white;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 19px;
    line-height: 1.9;
}
.navbar-nav{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
 .navbar-brand{
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}
.navbar-brand:focus,
.navbar-brand:hover{
    color: black;
}
.navbar-nav .navbar-link{
    color: black;
}
.w100{
    height: 100vh;
}
.service .card-body i{
    font-size: 50px;
}
.team .card-body i{
    font-size: 23px;
}
.bi{
    cursor: pointer;
}
.portfolio .card{
    box-shadow: 15px 15px 40px rgba(0,0,0,0.15);    
}
.img-area img{
    height: 250px;
    /* width: 400px; */
    /* background-size: cover; */
}   
.lead{
    font-size: 16px;
    text-align: justify;
    padding: 0 25px 0 25px; 
}
.team .card{
    box-shadow: 15px 15px 40px rgba(0,0,0,0.15);
}
footer{
    padding: 10px 0px 0.5px 0px;
    font-size: 10px;
    font-weight: 700px;
    letter-spacing: 2px;
}
.scroll{
    position: fixed;
    right: 20px;
    bottom: 10px;
    color: #ffc107;
    font-size: 35px;
    cursor: pointer;
}
.scroll:active{
    font-size: 37px;
    color: rgb(255, 0, 0);
}

/* responsive cc */
@media only screen and (min-width:774px )and (max-width:1000px){
    .carousel-caption{
       bottom: 70px;
    }
    .carousel-caption p{
        width: 100%;
    }
}

@media only screen and (max-width:774px){
.navbar-nav{
    text-align: center;
}
.carousel-caption{
    bottom: 50px;
}
.carousel-caption{
    font-size: 15px;
}
.carousel-caption a{
    padding: 10px 15px;
}
}

@media only screen and (max-width:380px) and (min-width:800px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        top: 60px
            
    }
    .carousel-caption h5{
        font-size: 20px;
    }
    .carousel-caption p{
        width: 100%;
        font-size: 10px;
    }
    .btn{
        font-size: 10px;
        width: 60px;
        height: 30px;
        text-align: center;
    }
    .carousel-caption{
        display: none;
    }
}






/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc107; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #edc346; 
}







